.App {
  text-align: center;
}

.App-logo {
  display: inline-block;
  margin-right: 20px;
}

.App-header {
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  color: #EFCA54;
}

.App-another {
  margin-left: auto;
}

.App-intro {
  font-size: large;
}

.spin-wrapper {
  text-align: center;
  padding: 100px 0;
}
